[2018-06-01 19:24] ghost opened #1 "Add support for tvOS and macOS"
Please add support for tvOS and macOS

[2018-06-01 23:34] SvenTiigi commented on #1
`WhatsNewKit` is currently focused on iOS. As each platform tvOS and macOS deserves it's very own design the implementation must and will be expanded to those platforms. Please feel free to open PR 🙌

[2018-06-06 07:40] #1 closed

[2018-06-11 21:16] max-horvath opened #2 "Problems with KeyValueWhatsNewVersionStore"
Hi Sven,

I tried the KeyValueWhatsNewVersionStore implementation as described in README.md and it crashed when using UserDefaults.standard, or fails when using NSUbiquitousKeyValueStore.default. The crash happens when you press the completion button.

For NSUSerdefaults it crashes with
`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Attempt to insert non-property

[2018-06-11 21:34] SvenTiigi commented on #2
Hey Max,

thanks for your detailed bug report 🙌

I've identified the issue and fixed it with a new release [1.1.1](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.1.1)

The bug was triggered as `WhatsNew.Version` was directly stored to `UserDefaults` or `NSUbiquitousKeyValueStore` and since it doesn't support `NSCoding` cause `WhatsNew.Version` is designed as a struct, the app crashed.

Th

[2018-06-11 21:39] max-horvath commented on #2
Hi Sven,

Thanks for the quick reply! The issue has been fixed.

Max

[2018-06-11 21:39] #2 closed

[2018-06-14 09:46] Pe-te opened #3 "Page indicator"
Hi, very nice library. Is there a way to show a page indicator in the slides?

[2018-06-14 09:51] SvenTiigi commented on #3
Hey @Pe-te,

Thanks for your appreciation 🙌

Could you explain your issue / feature-request in detail?

Currently the visible `Features` aka. `WhatsNew.Item` are visualized in a `UITableView` and can only been scrolled vertically. There is currently no horizontal scrolling available which would open the need of a `PageIndicator`.

[2018-06-14 10:48] Pe-te commented on #3
Oh okay, maybe I misunderstood the animation on the github page? It's just showing the different designs? It looked like it swipes from one page to the next.

We want to show multiple slides, each with a tableview and the user should be able to swipe between the slides, both forward and backwards.

[2018-06-14 10:56] SvenTiigi commented on #3
Yes the example `GIF` just showing different designs of a `WhatsNewViewController` which were pushed via a `UINavigationController` during screen recording.

If I understood your correctly you want to change the scrolling behaviour of the `UITableView` where your new Features are visualized from vertical to horizontal. To do so the `UITableView` should be refactored to a `UICollectionView` in orde

[2018-06-14 11:05] Pe-te commented on #3
Yes, that's what we are after, from the animation it just looked like it already does it. I'll give it a try, thanks!

[2018-06-14 11:07] SvenTiigi commented on #3
Feel free to open a PR to extend `WhatsNewKit` 🙌

[2018-06-14 11:07] #3 closed

[2018-09-19 23:44] stshelton opened #5 "Updated Xcode to 10.0 , WhatsNewViewController.Theme now contains error "Missing argument backgroundColor""
Just updated to Xcode 10.0 and recieved this error "missing argument for paramater 'backgroundColor'" when trying to create theme of whatsNewController.

[code]

Swift Version: 4.0
WhatsNewKit Version: 1.0.2
Any suggestions or workarounds? I tried updating WhatsNewKit to latest version but latest version seemed to be for swift version 4.2 and id like to get my project to build before the switch to

[2018-09-20 09:35] SvenTiigi commented on #5
Hey @stshelton

Thanks for your detailed bug report.

The `WhatsNewViewController.Theme` initializer with a configuration closure is available from `WhatsNewKit` Version: [1.1.0](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.1.0)

In Version 1.0.2 this initializer isn't available.

Please try to update `WhatsNewKit` to Version [1.1.0](https://github.com/SvenTiigi/WhatsNewKit/releases/tag

[2018-09-20 23:39] stshelton commented on #5
That worked, appreciate the quick response. I ran into one more issue after I built and ran my project. I'm using UserDefaults to save the "keyValueVersionStore" once I clicked the complete button my project is breaking with
 `Attempt to set a non-property-list object 1.3.0 as an NSUserDefaults/CFPreferences value for key de.tiigi.whatsnewkit.1.3.0`

Here is how I set up whatsNewViewController
[co

[2018-09-21 08:07] mattbarker016 opened #6 "[Feature] Option to Vertically Center ItemsView"
Could a configuration be added to potentially center ItemsView? Would help when an app doesn't have too many new features but still want to look good :)

[2018-09-28 20:17] stshelton opened #7 "UserDefault crash when trying to save version of app with "Attempt to set a non-property-list object 1.3.0 as an NSUserDefaults""
I'm using UserDefaults to save the "keyValueVersionStore" once I clicked the complete button my project is breaking with
Attempt to set a non-property-list object 1.3.0 as an NSUserDefaults/CFPreferences value for key de.tiigi.whatsnewkit.1.3.0

Here is how I set up whatsNewViewController

[code]

[2018-09-29 07:08] SvenTiigi commented on #7
Hey @stshelton

Sorry for the late response I was on vacation 🤙

Your issue seems identically to this Issue https://github.com/SvenTiigi/WhatsNewKit/issues/2
The problem was fixed due WhatsNewKit Version `1.1.1`

Please ensure you are using WhatsNewKit Version `1.1.1` and then test it again 🙌

[2018-09-29 07:09] SvenTiigi commented on #5
Duplicate of #7

[2018-09-29 07:09] #5 closed

[2018-09-29 07:14] SvenTiigi commented on #6
Hey @mattbarker016

Thanks for your really good idea I like it 🤙

This feature will be implemented for the next release of WhatsNewKit and will be implemented in a separate feature branch [`center-ItemsView`](https://github.com/SvenTiigi/WhatsNewKit/tree/feature/center-ItemsView).

If you wish you can contribute to this feature branch 🙌

[2018-09-29 07:14] #6 closed

[2018-10-01 21:36] stshelton commented on #7
No problem,  but it did work appreciate the help. Love the library!

[2018-10-02 17:18] SvenTiigi commented on #7
Perfect :)

Thank you I appreciate it 🙌

[2018-10-02 17:18] #7 closed

[2018-10-07 16:36] ahamedsaifudeen opened #8 "Objective-C Support"
Can you include an example for using your component on Objective-c?

[2018-10-07 17:01] SvenTiigi commented on #8
Hey @ahamedsaifudeen

Currently `WhatsNewKit` doesn't support Objective-C.

In order to make `WhatsNewKit` compatible with Objective-C a lot of existing code must be refactored. For example all `WhatsNew` structs must be refactored to classes to make them visible in an Objective-C environment.

[2018-10-08 11:41] ahamedsaifudeen commented on #8
@SvenTiigi

Understand the complexity. Thanks for quick response.

[2018-10-08 11:41] #8 closed

[2018-10-09 17:53] Uragawa opened #9 "iOS 10 layout issues"
I tried a basic WhatsNewViewController in my app. On the iOS 11 device, it works as expected. On the iOS 10 one, it seems that the order of statements while configuring the labels matters, as setting the font after setting the attributed text overwrites the attributes. Additionally, iOS 10 seems to require estimatedRowHeight to be either set or returned from the delegate for automatic sizing to wo

[2018-10-09 18:19] SvenTiigi commented on #9
Hey @Uragawa

Thanks for your detailed bug report 🙌

I've just published a [swift-4.1](https://github.com/SvenTiigi/WhatsNewKit/tree/swift-4.1) Branch and added your iOS 10 Layout fix as well as set the Swift Version to `4.0` to make it compatible up to Swift `4.1`.

You can integrate it with CocoaPods:

[code]

or Carthage:

[code]

If you found any other bugs you can contribute to the `swift-4.1

[2018-10-09 19:48] Uragawa commented on #9
Woo, thanks for the super quick response!

I updated my Podfile to use the swift-4.1 branch and found that some Swift 4.2 references were left in the source. This is my first time creating a PR so I hope I did it right.

[2018-10-09 20:00] SvenTiigi commented on #9
Your [PR](https://github.com/SvenTiigi/WhatsNewKit/pull/10) looks good 👍 and I've merged it to the `swift-4.1` branch.

[2018-10-10 04:33] Uragawa commented on #9
Thanks! I'd suggest replicating the layout fix on the master branch (since iOS 10 is still supported as per the podspec), otherwise everything's great now. Since my problem is solved, I'll go ahead and close the issue.

[2018-10-10 04:33] #9 closed

[2018-10-20 13:46] wizard699 opened #11 "Example was written with a previous version?"
There are problema in  SharedTheme with WhatsNewKit 1.0.2.
Perhaps the example was implemented with a different version????

[2018-10-20 14:12] wizard699 commented on #11
More detail:  the file SharedTheme.swift in example, with the last versione (from CocoaPod) of WhatsNewKit, have this error:

Missing argument for parameter 'backgroundColor' in call

[2018-10-20 15:46] wizard699 commented on #11
All is ok.  I've update to the release 1.1.2.
Thanks

[2018-10-20 15:46] #11 closed

[2018-10-20 17:06] SvenTiigi commented on #11
Hey @wizard699

Perfect 👍

You might also take a look at the new release [`1.1.3`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.1.3) which has a completely refactored and updated Example Application.

[2018-10-20 22:00] wizard699 commented on #11
Thanks a lot

Inviato da iPhone

[2018-10-21 07:00] wizard699 commented on #11
But, at the moment, from Cocoapod, there is only the 1.1.2 version. It’s correct?

Inviato da iPhone

[2018-10-21 08:52] SvenTiigi commented on #11
Hey @wizard699

the latest available Version of WhatsNewKit via CocoaPods is Version `1.1.3`.

![bildschirmfoto 2018-10-21 um 10 43 05](https://user-images.githubusercontent.com/11733014/47264832-42b9ad00-d51e-11e8-8203-7fabafc6c587.png)

Please make sure your Podfile is set to:

[code]

[2018-10-21 08:56] SvenTiigi commented on #6
Hey @mattbarker016

Your feature request has been integrated in Version [`1.1.3`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.1.3) 🙌

[2018-10-24 20:53] mattbarker016 commented on #6
Awesome!

[2018-12-12 13:32] saldous opened #12 "CocoaPods could not find compatible versions for pod "WhatsNewKit""
Can't install via cocoapods, xcode 10.1

[2018-12-12 13:35] saldous commented on #12
Looks like it needs min iOS 10 deployment target, won't work with 9.0

[2018-12-12 17:18] SvenTiigi commented on #12
Hey @saldous

Yes the minimum deployment target is set to iOS 10.0 because `WhatsNewKit` is supporting the HapticFeedback API via the [UIFeedbackGenerator](https://developer.apple.com/documentation/uikit/uifeedbackgenerator) API.

But the good news is that I've found an easy solution to drop the deployment target to iOS 9.0 while breaking non existing API's.

The feature branch [ios-9-deployment-t

[2018-12-12 18:39] saldous commented on #12
I appreciate the effort. I just ran a report to see how many of my users are on iOS 9, it was only 93, so I decided to drop support for it and make the min. 10.0 now anyway.

[2018-12-12 18:48] #12 closed

[2018-12-14 20:02] saldous opened #13 "1.1.4 issue"
after updating to 1.1.4, getting crash:

[code]

[2018-12-14 20:10] saldous commented on #13
cleaned build folder and seems the error went away.

[2018-12-14 20:32] #13 closed

[2018-12-14 23:00] saldous opened #14 "v1.1.4 breaks KeyValueWhatsNewVersionStore"
After upgrading, WhatsNew keeps displaying every time I launch the app. Downgraded back to 1.1.3, problem goes away.

`print(keyValueVersionStore.has(version: .current()))
`
always shows false with v1.1.4

[2018-12-14 23:18] SvenTiigi commented on #14
Hey @saldous

Thanks for your bug report 🙌

The problem should be solved with Version [`1.1.5`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.1.5)

[2018-12-15 11:09] #14 closed

[2019-01-04 18:37] furiosFast opened #15 "two-line title on iphone SE"
there is a problem with the two-line title (and a high font, example 37) on iphone SE: the second line does not appear

[2019-01-04 19:15] SvenTiigi commented on #15
Hey @furiosFast

Thanks for your bug report.

Have you tried to reduce the font size for smaller screen sizes like the iPhone SE?

Maybe you calculate the font size based on the screen scale:
[https://developer.apple.com/documentation/uikit/uiscreen/1617836-scale](https://developer.apple.com/documentation/uikit/uiscreen/1617836-scale)

Currently the `TitleView` height is set to `20%` of the screen

[2019-01-08 16:56] SvenTiigi commented on #15
Closing due inactivity. Feel free to re-open the issue at any time.

[2019-01-08 16:56] #15 closed

[2019-01-31 15:58] BenBeng opened #16 "Detail button was missing on iPad in landscape"
I was running the demo on iPad Pro 11 simulator(iOS 12), and the detail button was missing when iPad was in landscape, and split mode.

Also, I found the items view was too left, and the completion button was too long when using on iPad in landscape. Maybe you can give an option to use `tableView.cellLayoutMarginsFollowReadableWidth = true` and some other layout change to make it more readable on

[2019-02-02 14:40] SvenTiigi commented on #16
Hey @BenBeng

Please have a look at the new Release [`1.1.6`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.1.6)

It contains an improved Layout for iPhone/iPad and API's to configure the Layout insets to your needs.

![simulator screen shot - ipad air 2 - 2019-02-02 at 14 34 29](https://user-images.githubusercontent.com/11733014/52165414-c7f95400-2700-11e9-9dfb-22dd196bd6e4.png)

[2019-02-04 06:38] #16 closed

[2019-03-17 00:10] sdevo619 opened #17 "How can I get What's new to show after changing build number???"
Been trying to get WhatsNewKit to show when the build number changes in my Xcode project. Is there a particular way to you recommend achieving this???

[2019-03-17 05:08] #17 closed

[2019-03-18 06:15] bazscott opened #18 "Image decoding from JSON"
Hi, I get a `nil` image when trying to decode the following Item from JSON. I get the title and subtitle ok. Everything else in the Kit works great, and I love it, but I just can't get the images to arrive. Thanks for your help.

Here's the JSON Item:

[code]

[2019-03-18 17:45] SvenTiigi commented on #18
Hey @bazscott,

Please drop the `data:image/png;base64,` prefix.

![Bildschirmfoto 2019-03-18 um 18 43 22](https://user-images.githubusercontent.com/11733014/54551144-c4b6e080-49ad-11e9-9e8a-5821c1b517e4.png)

I've also updated the ReadMe which falsely contained this prefix 👌

[2019-03-19 01:23] bazscott commented on #18
Thanks very much Sven, it worked. D'oh! :) Though I was sure I tried that, but clearly not. Thanks very much for the fast reply 👍

[2019-03-19 01:23] #18 closed

[2019-04-18 23:24] vince-carpino opened #19 "Using a custom button as completion button"
Throughout my app, I've utilized [FlatUIKit](https://github.com/Grouper/FlatUIKit#buttons)'s `FUIButton`.

Is it possible to use a custom button such as this as the completion button?

[2019-04-19 10:20] SvenTiigi commented on #19
Hey @vince-carpino,

Currently `WhatsNewKit` doesn't support this feature.

In order to allow customizing the Buttons to a special style I would propose a customization closure which would be available on the `DetailButton` and `CompletionButton` configuration struct.

[code]

I've already implemented this API on the [`feature/button-customization`](https://github.com/SvenTiigi/WhatsNewKit/tree/fe

[2019-04-19 22:44] vince-carpino commented on #19
Thanks for your quick reply.

I tried your suggestion but I don't think that what I'm looking for is possible, at least as far as my rather limited iOS development knowledge allows. I don't think Cocoapods have the ability to use each others libraries, which I believe is what I would need in order to make this work.

Please let me know if I'm wrong.

[2019-04-22 10:36] SvenTiigi commented on #19
Hey @vince-carpino,

The intent of the `customization` closure is to post configure / customize the `DetailButton` or `CompletionButton` to your needs. For example you could apply the same effects to the Button as `FlatUIKit` does with its [`FUIButton`](https://github.com/Grouper/FlatUIKit/blob/63fea9a86cadb2180173e29bf75fa978ec999fc6/Classes/ios/FUIButton.m#L81).

Of course it would be easier for

[2019-04-24 10:08] mjkoo711 opened #20 "Don't animate itemsView."
Hi, I'm MJ.

First, thank you for your open source.

I'm using your open source `WhatsNewKit`. But, I met a problem.

I want to animate views, but `itemsview` does not apply animation.

Below my code. Thank you.

[code]

[2019-04-24 16:20] SvenTiigi commented on #20
Hey @mjkoo711,

Thanks for your detailed bug report 🙌

Internally the `ItemView` will perform its animation as soon as the `willDisplayCell` function from the `UITableViewDelegate` has been invoked.

To give you further assistance it might be important to have a look at the caller-side for the `func showsWhatsNewApp` in which context the presentation is happening (through a press of the button, wh

[2019-04-24 16:27] mjkoo711 commented on #20
@SvenTiigi Thank you for your answer, but It still has a same problems. ㅠㅠ Furthermore, the TitleView only animate without `itemsView, buttonView`

[2019-04-24 16:47] SvenTiigi commented on #20
I've tried your code in an example app with the latest version of `WhatsNewKit` (1.1.8) which invokes the `showsWhatsNewApp` function on a button press and all animations are as expected.

So it would be interesting where or how you invoking your `showsWhatsNewApp` function in your code.

![Demo](https://user-images.githubusercontent.com/11733014/56677546-0cbdd700-66c1-11e9-9598-9445eba2a5b3.gif)

[2019-04-24 16:49] mjkoo711 commented on #20
![image](https://user-images.githubusercontent.com/34901099/56677772-2fb9ac80-66fc-11e9-9110-b71942ce8e27.png)

@SvenTiigi I called the `viewWillAppear` in `MainViewController`, which is first View Controller in my app.

[2019-04-24 16:50] mjkoo711 commented on #20
@SvenTiigi I wanted to launch the whatsNewViewController when app was opened.

[2019-04-24 16:54] mjkoo711 commented on #20
@SvenTiigi `Xcode ver.10.2.1`, `version >= iOS 11`

[2019-04-24 17:23] mjkoo711 commented on #20
@SvenTiigi I think the problem related with MainViewController's collectionView present timing. Hum,,,

[2019-04-24 17:30] SvenTiigi commented on #20
You might wanna check out your console output in Xcode there must be something like this:

[code]

Because you are presenting the `WhatsNewViewController` before your `UIViewController` has finished loading the view.

But I've identified a bug which I'm currently fixing. The animation of the `ItemsView` is disabled as sonn as an `orientationDidChange` notification has been posted to avoid re-anima

[2019-04-24 17:35] mjkoo711 commented on #20
@SvenTiigi Oh, thank you. I have a question. This SDK is `StartKit`feature and I want to show immediately when users come in app. So, where is the optimize place calling shows the `showsWhatsNewViewController` method? Or HOW CAN I PRESENT THE ViewController?

[2019-04-24 17:36] mjkoo711 commented on #20
Although my English is not good, I'm happy for your help.

[2019-04-24 18:30] SvenTiigi commented on #20
Version [`1.1.9`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.1.9) should allow you presenting the `WhatsNewViewController` during `viewWillAppear` with all animations working correctly.

To get rid of this warning:

[code]

You can either delay the presentation on the Main Thread.

[code]

Or you use the `UIWindow` `rootViewController` in the `viewDidAppear` lifecycle.

[code]
Read mo

[2019-04-24 19:00] #20 closed

[2019-04-25 01:47] mjkoo711 commented on #20
@SvenTiigi Thank you. Have a good day.

[2019-04-26 18:54] SvenTiigi commented on #19
Closing due inactivity. Feel free to re-open the issue at any time.

[2019-04-26 18:54] #19 closed

[2019-05-04 16:22] furiosFast opened #21 "Apple TV support"
hi,
have you planned to add support for apple tv to WhatsNewKit?

Thank's

[2019-05-08 05:43] SvenTiigi commented on #21
Hi @furiosFast,

WhatsNewKit is currently focused on iOS.

But feel free to open a PR 👌

[2019-05-12 15:37] SvenTiigi commented on #21
Closing due inactivity. Feel free to re-open the issue at any time.

[2019-05-12 15:37] #21 closed

[2019-06-22 17:38] AlexFlume opened #22 "`import: WhatsNewKit`"
## WhatsNewKit Environment

- WhatsNewKit version: 1.1.9
- Xcode version: 10.2.1
- Swift version: 5
- macOS version running Xcode: 10.14.5
- Dependency manager (Carthage, CocoaPods, Manually):  CocoaPods

## What did you do?

I added `pod 'WhatsNewKit'` to the my Xcode project and successfully installed WhatsNewKit.

## What did you expect to happen?

I expected to be able to type `import: WhatsNe

[2019-06-23 10:27] SvenTiigi commented on #22
Hey @AlexFlume,

thanks for your detailed bug report.

Please run `pod install` inside your project directory via the Terminal after you have added `pod 'WhatsNewKit'` to your Podfile.

After `pod install` has completed successfully open your Xcode project and make a `Clean-Build`.

In your `AppDelegate.swift` file you should be able to import WhatsNewKit without any error:

[code]

Otherwise run

[2019-06-23 13:35] AlexFlume commented on #22
Thank you, Sven.

Does this have to be done via the Terminal, or can it be done via the CocoaPods Mac app?

[2019-06-23 13:37] SvenTiigi commented on #22
Hey @AlexFlume,

Just to be sure you should run the commands via your `Terminal` 👌

[2019-06-27 11:08] SvenTiigi commented on #22
Closing due inactivity. Feel free to re-open the issue at any time.

[2019-06-27 11:08] #22 closed

[2019-07-01 17:35] rajatsha90271 opened #23 "Please Provide Support for Swift Package Manager , Thanks"
## WhatsNewKit Environment

- WhatsNewKit version:
- Xcode version:
- Swift version:
- macOS version running Xcode:
- Dependency manager (Carthage, CocoaPods, Manually):

## What did you do?

## What did you expect to happen?

## What happened instead?

[2019-07-02 18:33] SvenTiigi commented on #23
Hey @rajatsha90271,

Please check out the latest release [`1.2.0`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.2.0) which adds support for Swift Package Manager

[2019-07-02 18:33] #23 closed

[2019-08-12 04:48] mattbarker016 opened #24 "[iOS 13] ItemsView scrollview too large when using content Mode .fill or .center"
## WhatsNewKit Environment

- WhatsNewKit version: 1.2
- Xcode version: Xcode-beta 11.0 beta 5
- Swift version: Swift 5
- macOS version running Xcode: macOS 10.14.6
- Dependency manager (Carthage, CocoaPods, Manually): CocoaPods

## What did you do?

Launched the WhatsNewViewController in iOS 13 with a `itemsView.contentMode` of `.center` or `.fill`.

## What did you expect to happen?

All the ite

[2019-08-15 20:55] SvenTiigi commented on #24
Hey @mattbarker016

Thanks for your bug report 👍

I will definitely have look at this with the newest Xcode 11 beta to find a solution for it.

[2019-08-24 12:23] zboralski opened #25 "CompletionButton Height"
It would be nice to be able to set the height of the completion button. If the goal of this project was to be consistent with the welcome screens that were added to Apple's own apps then the completion button is way too tall.

[2019-08-25 10:38] zboralski commented on #25
@SvenTiigi could you make the completion button's interface accessible ?

[2019-08-25 11:08] zboralski commented on #25
I switched to the `feature/button-customization` branch and used the following configuration to match iOS 13's Welcome Screen style:

[code]

[2019-08-25 11:08] #25 closed

[2019-08-25 17:03] SvenTiigi commented on #25
Hey @zboralski,

I'm looking forward to merge the `feature/button-customization` branch soon to the `master` branch so that you can switch to an official release 👌

[2019-08-26 15:46] SvenTiigi commented on #24
Hey @mattbarker016

Please check out the branch [feature/iOS-13](https://github.com/SvenTiigi/WhatsNewKit/tree/feature/iOS-13) I've pushed a bug fix for your reported problem.

Let me know if this bug fix works for you ✌️

[2019-08-26 16:10] SvenTiigi commented on #25
Hey @zboralski

FYI: The branch [feature/iOS-13](https://github.com/SvenTiigi/WhatsNewKit/tree/feature/iOS-13) now contains the latest design update according to the current iOS 13 style.

<p align="center">
<kbd>
<img src="https://user-images.githubusercontent.com/11733014/63704905-5adc1600-c82c-11e9-91a1-810c4d333a8c.png" width="50%" alt="Simulator Screen Shot - iPhone Xs">
</kbd>
</p>

[2019-08-30 16:47] zboralski commented on #25
The height of the continue button is much smaller in iOS 13 though.

[2019-09-07 02:37] mattbarker016 commented on #24
Yep, works great!

[2019-09-08 14:23] #24 closed

[2019-09-18 21:03] jminutaglio opened #26 "Animations & iOS 13"
## WhatsNewKit Environment

- WhatsNewKit version: 1.2.0
- Xcode version: Version 11.0 (11A420a)
- Swift version: 5
- macOS version running Xcode: 10.14.6
- Dependency manager (Carthage, CocoaPods, Manually): CocoaPods

## What did you do?

In the iOS 13 beta, the animations in WhatsNewKit don't show (due to changes in 13 and how push screens are rendered)

## What did you expect to happen?

using

[2019-09-19 05:41] SvenTiigi commented on #26
Hey @jminutaglio,

Thanks for your bug-report 👍

Please check out the [iOS-13](https://github.com/SvenTiigi/WhatsNewKit/tree/feature/iOS-13) feature branch which now contains a fix that the animations are triggered correctly when the `WhatsNewViewController` is presented in iOS 13.

[2019-09-19 06:10] jminutaglio commented on #26
ty!  the 13 branch resolved what I was seeing. (and fixes some other general layout issues) - looks great.

[2019-09-19 06:41] #26 closed

[2019-09-19 21:00] jminutaglio commented on #26
do you plan to merge the 13 branch back here when 13 comes out?  And/or what is the release plan to get the fixes in the main branch?  (so updates can come via Cocoapods?). ty!

[2019-09-19 21:41] SvenTiigi commented on #26
Hey @jminutaglio,

Please check out the latest release [`1.3.0`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.3.0) 🥳

[2019-09-19 23:56] jminutaglio commented on #26
thank you so much!!!  Your kit is awesome!!!!

[2019-10-29 19:38] joeljfischer opened #29 "Follow iOS 13 Dark Mode Settings"
## WhatsNewKit Environment

- WhatsNewKit version: 1.3.0
- Xcode version: 11.0
- Swift version: 5.1
- macOS version running Xcode: 10.14.6
- Dependency manager (Carthage, CocoaPods, Manually): Cocoapods

## What did you do?

Use the default WhatsNewKit configuration

## What did you expect to happen?

The coloring would follow iOS 13 dark mode

## What happened instead?

I had to manually set colo

[2019-11-01 17:45] SvenTiigi commented on #29
Hey @joeljfischer

Thanks for opening an issue for WhatsNewKit 👍

Dark-Mode-Support for the default Themes will be implemented on the [`feature/dark-mode-support`](https://github.com/SvenTiigi/WhatsNewKit/tree/feature/dark-mode-support) branch. The feature branch will be merged into the master and published with next release as soon as possible.

[2019-11-02 09:48] SvenTiigi commented on #29
Hey @joeljfischer

Please check out the latest release [`1.3.1`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.3.1) which now supports Dark-Mode for predefined Themes 👍

[2019-11-06 18:42] #29 closed

[2019-11-07 00:28] mikemaat commented on #8
If you write yourself a wrapper .swift file, you can use it in an Objective C project (assuming you've already setup support for having both ObjC and Swift in the same project)

![Screenshot 2019-11-06 17 27 11](https://user-images.githubusercontent.com/5282213/68349536-b3485300-00ba-11ea-93fb-cae74c15c49f.png)

![Screenshot 2019-11-06 17 27 45](https://user-images.githubusercontent.com/5282213/68

[2019-11-13 10:03] ammerzon opened #31 "Disable tint for item images"
## WhatsNewKit Environment

- WhatsNewKit version: 1.3.1
- Xcode version: 11.2
- Swift version: 5.1
- macOS version running Xcode: 10.15.1
- Dependency manager (Carthage, CocoaPods, Manually): Carthage

## What did you do?

I created a new WhatsNewController and inserted three items with an image.

## What did you expect to happen?

The actual assets are displayed without the tint color.

## What

[2019-11-13 10:12] SvenTiigi commented on #31
Hey @ammerzon,

In default the `autoTintImage` of the `ItemsView` configuration is set to `true`.

You can disable it by simply setting `autoTintImage` to `false`.

[code]

[2019-11-13 10:18] ammerzon commented on #31
Thx for your quick answer. Now it works.

[2019-11-13 10:18] #31 closed

[2019-11-16 13:58] ahamedsaifudeen commented on #8
@mikemaat

Thanks a lot. This is very helpful. I have added this and it works great.

@SvenTiigi It might be helpful to include this.

[2019-11-17 12:05] feodormak commented on #29
Hey,
The dark mode support implementation does not respond to runtime changes to device dark mode setting changes.

[2019-11-17 12:12] feodormak opened #32 "Colors do not respond to runtime changes to device Dark Mode setting"
## WhatsNewKit Environment

- WhatsNewKit version: 1.3.1
- Xcode version: 11.1
- Swift version: 5
- macOS version running Xcode: 10.15.1
- Dependency manager (Carthage, CocoaPods, Manually): CocoaPods

## What did you do?

- Configured completion button background colour with my own custom UIColor instance supporting Dark Appearance
- Change the device Dark appearance setting in Simulator via Sett

[2019-11-17 13:23] SvenTiigi commented on #32
Hey @feodormak,

Thanks for your bug report.

I've pushed a fix https://github.com/SvenTiigi/WhatsNewKit/commit/704c647c90b4a50e683468ed8827d0b5b357fd27 on the [`develop`](https://github.com/SvenTiigi/WhatsNewKit/tree/develop) branch.

Please checkout the `develop` branch and let me know if this resolve your issue.

[code]

If everything works fine the fix will be included in the next release of W

[2019-11-19 15:07] feodormak commented on #32
Hi @SvenTiigi ,
Thanks for the quick fix, it works, but from what I see, it is not limited to the completion button. The images of the Items are not changing colors too.

[2019-11-19 15:14] SvenTiigi commented on #32
Hey @feodormak,

Thanks for your feedback please try it again with the latest commit of the `develop` branch

[2019-11-19 15:52] feodormak commented on #32
@SvenTiigi , it works! thanks for the quick updates!

[2019-11-20 05:05] SvenTiigi commented on #32
Perfect 👍

The fix will be included in the next release of WhatsNewKit

[2019-11-20 05:05] #32 closed

[2019-12-31 01:49] StefaniOSApps opened #34 "Swipe down does not called completion"
1. use example code

2. use completion method like
[code]
3. swipe the controller down

--> completion() is not called

How to handle `UIAdaptivePresentationControllerDelegate` events?
[code]
not called...
`func presentationControllerDidDismiss(_ presentationController: UIPresentationController)`

[2019-12-31 13:35] StefaniOSApps opened #35 "Statusbar hidden option (enhancement)"
current its not possible to set a flag to hide statusbar without a subclass of WhatsNewViewController.

**enhancement**
`config.prefersStatusbarHidden = true`

[2020-01-05 12:30] SvenTiigi commented on #35
Hey @StefaniOSApps,

Thanks for your feature requests 👍

The `prefersStatusbarHidden` configuration option has been implemented (https://github.com/SvenTiigi/WhatsNewKit/commit/5c3711344025227cd77def93f5bd1409aecb9bdb) and pushed to the [`develop`](https://github.com/SvenTiigi/WhatsNewKit/tree/develop) branch.

The flag will be officially available with the next release of WhatsNewKit.

[2020-01-05 12:51] SvenTiigi commented on #34
Hey @StefaniOSApps

This is behavior is intended as the action of the `completionButton` should only be invoked when the user has pressed the button.

When you want to perform any related task, after the `WhatsNewViewController` has been dismissed for example the User has swiped down the presented `WhatsNewViewController` with iOS 13 `automatic` UIModalPresentationStyle, you can pass in a custom i

[2020-01-08 00:52] StefaniOSApps commented on #35
thanks

[2020-01-08 00:52] #35 closed

[2020-01-08 00:58] StefaniOSApps commented on #34
Yes, I use this variant myself now. My wish would be to have a single "completion" method that WhatsNewKit will run when it closes. Also with an enum parameter, which can differentiate between .button and .swipe. Optionally also with close if you have pressed the text above the button. Then another case would be added to the enum.
This method would be a bit cleaner than multiple helper classes.
Wh

[2020-01-10 12:49] stefgeelen opened #36 "Custom action for completion button has no reference to Self"
## WhatsNewKit Environment

- WhatsNewKit version: 1.3.1
- Xcode version: 11.2
- Swift version: 5
- macOS version running Xcode: Catalina
- Dependency manager (SPM, Carthage, CocoaPods, Manually): CocoaPods

Hi guys,

I have the current implementation of WhatsNewKit

[code]

I would expect that when I press my completion button my delegate is being triggered.
After debugging I found out that in my

[2020-01-11 19:12] SvenTiigi commented on #36
Hey @stefgeelen,

It seems like your `SMSCWhatsNewKitWrapper` gets deallocated too early.
This explains why `self` which is referencing your `SMSCWhatsNewKitWrapper` instance is nil.

Please check where and how you are storing (weak, strong) the instance of the `SMSCWhatsNewKitWrapper` class and maybe add a `deinit` in order to add a breakpoint to debug in which moment of the runtime your `SMSCWha

[2020-01-11 19:15] SvenTiigi commented on #34
Hey @StefaniOSApps,

Thanks for your feedback 👍

I will consider adding such functionality in the next release of WhatsNewKit.
Of course feel free to open up a PR to get things started.

[2020-01-13 10:49] stefgeelen commented on #36
Hi Sven,

You were right, the problem was the deallocation. This can be closed.
Thanks for the help.

[2020-01-13 10:50] #36 closed

[2020-01-21 18:38] #34 closed

[2020-03-19 05:34] Fudge0952 opened #37 "Title is overpowering with phones in landscape mode"
## WhatsNewKit Environment

- WhatsNewKit version: 1.3.1
- Xcode version: 11.3.1 (11C504)
- Swift version: 5
- macOS version running Xcode: 10.15.3 (19D76)
- Dependency manager (SPM, Carthage, CocoaPods, Manually): Manual? I'm using the example project

## What did you do?

* Built & Ran the example project
*  Rotated iPhone to landscape
*  Scrolled through the changelog

## What did you expect to

[2020-03-19 18:05] SvenTiigi commented on #37
Hey @Fudge0952,

Thanks for opening up an issue for WhatsNewKit 🙌

Sadly the layout isn't currently optimized for landscape orientation on iOS.

This is definitely a task on the road map for the next release of WhatsNewKit.
I was also thinking about implementing a scroll behaviour that is identical to the UINavigationController with large titles.

Please feel free to open up a PR if you have any i

[2020-03-21 13:45] Fudge0952 commented on #37
Hey @SvenTiigi,

I'll definitely do some experimentation using large titles to see if we can benefit from it. I'll keep you updated with what I discover 😉

[2020-03-22 23:40] Fudge0952 commented on #37
So I was doing some experimentation and in order to support large titles, it would require some reworking of how the views are laid out. Right now the title view, content view, and button view are all separate views, so in order to support shrinking the title when the user scrolls, we would need to modify the layout completely so that the table view and title are together (to avoid nasty hacking w

[2020-04-11 13:19] Fudge0952 commented on #37
Hi @SvenTiigi, I had attempted to add an option to allow the title to scroll with the items. The related pull request is [here](https://github.com/SvenTiigi/WhatsNewKit/pull/38). Let me know what you think :)

- Tim

[2020-04-11 14:07] SvenTiigi commented on #37
Hi @Fudge0952,

sorry I totally forgot about this issue 🙈 My fault 😃

The PR looks good. Great work 👍

I will open up a new feature branch to merge your PR 👌

[2020-04-11 15:38] SvenTiigi commented on #35
Hey @StefaniOSApps,

please have a look at the new release [`1.3.2`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.3.2) of WhatsNewKit which now adds the option to hide the status-bar ✌️

[2020-04-11 15:41] SvenTiigi commented on #37
Hey @Fudge0952,

your PR has been merged and is now available within the new release [`1.3.2`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.3.2) of WhatsNewKit 👍

For a better consistency I've moved the `titleMode` property to the `TitleView` configuration.

### Title Mode
In default the TitleView is sticked to the top.
If you wish that the TitleView scrolls with the ItemsView you can c

[2020-04-12 02:04] Fudge0952 commented on #37
Excellent, no worries at all. Wasn’t too sure where you wanted the property so I made a guess 😝

[2020-04-12 07:31] #37 closed

[2020-04-22 18:14] christophriepe opened #39 "How to fix Layout Error while using WhatsNewKit Library in Swift 5?"
Hey,

I ran into an error while using WhatsNewKit. I posted a Question on StackOverflow. Here is the link: [https://stackoverflow.com/questions/61372170/how-to-fix-layout-error-while-using-whatsnewkit-library-in-swift-5](url)

Can you think of a reason why this is happening to me?

Thanks a lot for your help in advance.

[2020-04-22 20:28] SvenTiigi commented on #39
Hey @christophriepe,

it seems like you are using a non transparent image or loading the UIImage via the provided name fails this is why the image get tinted in its full bounds.

If you want to disable the default autoTintImage behaviour you can simply change the ItemsView configuration.
[code]

As the ItemsView is centered it seems like you are setting the `ItemsView.ContentMode` to `.center` the

[2020-04-23 16:12] christophriepe commented on #39
Thanks for your answer @SvenTiigi.

Here is my code for the configuration:

[code]

<img width="391" alt="Bildschirmfoto 2020-04-23 um 18 06 48" src="https://user-images.githubusercontent.com/42490623/80122327-ad253080-858d-11ea-9b8f-35d5e4d08f7d.png">

_https://stackoverflow.com/questions/61372170/how-to-fix-layout-error-while-using-whatsnewkit-library-in-swift-5_

I hope you guys can see somethi

[2020-04-23 16:51] SvenTiigi commented on #39
Hey @christophriepe,

I've created an example app and added your provided code snippet.

![Bildschirmfoto 2020-04-23 um 18 47 40](https://user-images.githubusercontent.com/11733014/80126162-fcba2b00-8592-11ea-8be2-ddbec54a2c4e.png)

The ItemsView is correctly displayed at the top position.
Please try the same with a small example app to encapsulate the bug.

It might be that somewhere in your code

[2020-04-23 17:01] christophriepe commented on #39
Thanks for your answer @SvenTiigi, that fixed the first problem I had.

<img width="295" alt="Bildschirmfoto 2020-04-23 um 18 56 21" src="https://user-images.githubusercontent.com/42490623/80127339-77377a80-8594-11ea-84be-3b5e035bc13f.png">

**Is there any configuration to let the `Item View` fill out all the available space?**

[2020-04-23 17:07] SvenTiigi commented on #39
To fill the available space along the axis

[code]
[https://github.com/SvenTiigi/WhatsNewKit#contentmode-](https://github.com/SvenTiigi/WhatsNewKit#contentmode-)

Additionally, you can make use of the Insets API to modify the size of the ItemsView

[https://github.com/SvenTiigi/WhatsNewKit#insets](https://github.com/SvenTiigi/WhatsNewKit#insets)

[2020-04-24 15:15] christophriepe commented on #39
Thanks, @SvenTiigi, its working now!

[2020-04-24 15:15] #39 closed

[2020-06-11 21:32] AndrewBennet opened #41 "Aspect ratio not preserved when using fixed imageSize"
## WhatsNewKit Environment

- WhatsNewKit version: 1.3.3
- Xcode version: 11.5
- Swift version: 5
- macOS version running Xcode: 10.15.5
- Dependency manager (SPM, Carthage, CocoaPods, Manually): SPM (in Xcode)

## What did you do?

Configured a WhatsNew.Item with an image from the iOS 13 SFSymbol library.

## What did you expect to happen?

I expected the aspect ratio of the image to be preserved

[2020-06-11 21:39] AndrewBennet commented on #41
This seems like a great project though, thanks for making it! I'm hoping to add it in to my app [Reading List](https://github.com/AndrewBennet/ReadingList), but I'd much rather use iOS 13 SFSymbols than have to source my own images. I can use the original size setting, but the non-aligning text bugs me.

<img src="https://user-images.githubusercontent.com/2078225/84441778-47bbfa80-ac34-11ea-8e27-9

[2020-06-13 10:16] SvenTiigi commented on #41
Hey @AndrewBennet

Thank you for your detailed bug report.
I will investigate the reported bug and respond back if a fix is available ✌️

[2020-06-16 20:59] AndrewBennet commented on #41
Hi Sven -- I've had a quite go at improving this, and submitted the change as a pull request.

Running the example app with the images swapped out for SFSymbol images, I see better results now: no distorted images, and no misaligned text.

<img src="https://user-images.githubusercontent.com/2078225/84827569-91358c80-b01c-11ea-9f9e-462174e4f87f.png" width="300" />

[2020-06-17 11:11] SvenTiigi commented on #41
@AndrewBennet your PR (https://github.com/SvenTiigi/WhatsNewKit/pull/42) has been merged and a new release of WhatsNewKit is now available [1.3.4](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.3.4)

[2020-06-17 11:11] #41 closed

[2020-08-19 11:02] francosolerio opened #44 "Swipe gesture to dismiss doesn't work reliably"
## WhatsNewKit Environment

- WhatsNewKit version: 1.3.5
- Xcode version: 11.6
- Swift version: 5
- macOS version running Xcode: 10.15.5
- Dependency manager (SPM, Carthage, CocoaPods, Manually): SPM or standalone

## What did you do?

Build and run WhatsNewKit-Example

Tap "Present" button

Put finger on the ItemsView and drag down

## What did you expect to happen?

The WhatsNew panel should beg

[2020-08-19 11:06] francosolerio commented on #44
Personal consideration: Swipe to dismiss is handled automatically when a modally presented panel contains a UITableViewController subclass. Maybe using a UIViewController subclass containing a UITableView for ItemsView needs the same behavior to be coded manually with some `UIGestureRecognizerDelegate` method.

[2020-08-19 15:48] SvenTiigi commented on #44
Hey @francosolerio,

Thanks for your bug report 🙌

It seems like that the following line of code causes the issue (`WhatsNewItemsViewController.swift`):

[code]

When the contentSize of the TableView doesn't exceed the size of the frame the TableView will ignore the scroll gesture and therefore it will be not passed down to the responder chain in order to allow iOS to listen to the scroll gesture.

[2020-08-20 08:10] francosolerio commented on #44
Thank you @SvenTiigi,
 I can confirm the issue is resolved on the develop branch.

[2020-09-14 03:07] EpicDraws commented on #8
This works great! You'll just need to create this as WhatsNewObjcWrapper.swift, then import <YourModuleName>-Swift.h (which is autogenerated by Xcode).

In case this saves anyone time, here is the code from the image above in copy/pastable text form:

[code]

[2020-09-14 17:50] SvenTiigi commented on #44
Hey @francosolerio,

Just wanted to let you know that this bug fix is now available within the latest release [1.3.6](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.3.6)

[2020-09-14 17:50] #44 closed

[2020-09-15 07:42] francosolerio commented on #44
Very good, thank you Sven!

[2020-09-22 17:14] lvandal opened #45 "Squished layout on iPad in multitasking"
## WhatsNewKit Environment

- iOS version: 14.0
- WhatsNewKit version: 1.3.6
- Xcode version: 12.0
- Swift version: 5.0
- macOS version running Xcode: 10.15.6
- Dependency manager (SPM, Carthage, CocoaPods, Manually): SPM

## What did you do?

Displaying the WhatsNew view with default layout values on iPad in multitasking

## What did you expect to happen?

The layout should consider the trait col

[2020-09-27 07:52] SvenTiigi commented on #45
Hey @lvandal

Thanks for your bug report and sorry for the delayed response I was on vacation.

Please checkout the feature branch [`trait-collection-fix`](https://github.com/SvenTiigi/WhatsNewKit/tree/feature/trait-collection-fix) and let me know if this resolves your issue.

[2020-09-28 18:58] joehinkle11 opened #46 "SwiftUI support?"

[2020-09-28 19:32] SvenTiigi commented on #46
Hey @joehinkle11

Support for SwiftUI is currently in development.
Check out the feature branch: [`feature/swift-ui`](https://github.com/SvenTiigi/WhatsNewKit/tree/feature/swift-ui)

[2020-09-29 14:04] lvandal commented on #45
Yes, it is now fixed. Thanks so much!

[2020-09-29 14:16] SvenTiigi commented on #45
Perfect 👍
I will leave a comment as soon as the bug fix is available within a new release of WhatsNewKit

[2020-10-17 20:24] SvenTiigi commented on #45
Hey @lvandal

The bug fix is now available with the new release of WhatsNewKit [`1.3.7`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/1.3.7)

[2020-10-17 20:24] #45 closed

[2020-10-17 20:25] #46 closed

[2020-11-08 10:22] furiosFast opened #48 "iPad Adjustments not work"
## WhatsNewKit Environment

- WhatsNewKit version: 1.3.7
- Xcode version: 12.0.1
- Swift version: 5.0
- macOS version running Xcode: 10.15.7
- Dependency manager (SPM, Carthage, CocoaPods, Manually): SPM

## What did you do?

I've added this code for ipad adjustments:

[code]

but it doesn't works. For example the detail button is still visible.

[2020-11-08 10:36] SvenTiigi commented on #48
Hi @furiosFast,

Due to a recent bug report (https://github.com/SvenTiigi/WhatsNewKit/issues/45) the `padAdjustment` closure has been refactored to be only used to update the layout insets.

Therefore changing the `detailButton` to nil will have no effect inside the `padAdjustment` closure.

If you wish to hide the `detailButton` on an iPad you could update your WhatsNewKit configuration to someth

[2020-11-08 10:42] SvenTiigi commented on #48
But I will try to fix this misleading behavior within the next release of WhatsNewKit ✌️

[2020-11-08 10:43] furiosFast commented on #48
thank you

[2021-01-17 22:28] SvenTiigi commented on #48
Updated `README.md` (https://github.com/SvenTiigi/WhatsNewKit/commit/773210d5876a567d3e19b3f38caae2f27e98a1e6) and added corresponding hint for this issue.

[2021-01-17 22:28] #48 closed

[2021-01-18 17:57] furiosFast commented on #48
hi,
even moving the lines of code however the customization for ipad does not work
`
        configuration.padAdjustment = { configuration in
            WhatsNewViewController.Configuration.defaultPadAdjustment(&configuration)

            configuration.detailButton = nil
            configuration.itemsView.insets.top = -20.0
            configuration.itemsView.insets.left = 5.0
            confi

[2021-08-24 23:57] Britishfrog opened #50 "Feature Request | Padding inside of ItemView"
Hi Sven!

Love the framework for this :D Was wondering if there was a way to affect the padding inside of each ItemView?

Thanks!

[2021-09-14 16:08] SvenTiigi commented on #50
Hi @Britishfrog

Thanks for your bug report.

Currently `WhatsNewKit` is limited to either adjust the `insets` of the `ItemsView` itself via:
https://github.com/SvenTiigi/WhatsNewKit/blob/2750b869363652b178eee757f54b5e7063a93ebc/Sources/Configuration/WhatsNewViewController%2BItemsView.swift#L46

or setting the `contentMode` to `.center` to increase the spacing between each cell.
https://github.com

[2021-09-14 19:05] Britishfrog commented on #50
Excellent stuff! Very excited about this showing up in the next release :) For now my workaround is using new lines strategically through the descriptions and titles.

On a separate note, I noticed that images set when `contentMode` is `.center` tend to clip over a certain size. It would be nice if the images were constrained inside of the tableview so that they aspect fit. No pressure though ;)

[2021-12-01 11:53] john-work-ios opened #51 "Show What's new for major & minor versions only (i.e. not patches), but ensure new users always see Whats New"
Hello,

Thanks for this beautiful kit.
I'm trying to figure out how to elegantly:
- show what's new only for minor versions (ex 5.2) but do now show again for patches (ex: 5.2.1)
- still show whats new for minor versions for new users installing a patch version for a first time. Example: new user first-installed 5.2.1 -> show whats new for 5.2
- still show whats new for users who might have missed

[2021-12-01 15:49] SvenTiigi commented on #51
Hi @john-work-ios,

This kind of question is better placed on platform like [StackOverflow](https://stackoverflow.com/) in order to get help from the community to implement some kind of special tailored logic.

In general you are free to present a `WhatsNewViewController` in any kind of way you prefer.
Additionally, you can make use of the `WhatsNewVersionStore` protocol to add a custom validation

[2021-12-03 11:10] john-work-ios commented on #51
Hi @SvenTiigi ,

thank you for the kind reply. I totally agree with you. However, I think (but I might be wrong of course) this was a very common use case for this framework, and that it could already be included. (In other words, that I might have missed something reading the documentation).
Based on your answer, I was wrong.
Thanks for taking the time to answer, and thanks again for the great wo

[2022-01-06 11:25] SvenTiigi commented on #50
Hi @Britishfrog,

WhatsNewKit has been updated to a new major version [`2.0.0`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/2.0.0) with extended support for SwiftUI, UIKit and AppKit.

The new version includes some major breaking changes but also a new `WhatsNew.Layout` API which allows you to customize the padding/spacing between the presented features

[code]

You can find more informa

[2022-01-06 11:33] SvenTiigi commented on #51
Hi @john-work-ios

WhatsNewKit has been updated to a new major version [`2.0.0`](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/2.0.0) with extended support for SwiftUI, UIKit and AppKit.

The new version includes some major breaking changes but also a new `WhatsNewEnvironment` API which you can make use of when using SwiftUI to automatically present a matching WhatsNew object to the user.

[2022-01-06 11:38] SvenTiigi commented on #46
Hi @joehinkle11

The new version [2.0.0](https://github.com/SvenTiigi/WhatsNewKit/releases/tag/2.0.0) of WhatsNewKit now supports SwiftUI ✌️

[2022-01-07 14:42] #51 closed

[2022-01-07 14:42] #50 closed

[2022-01-09 19:39] AndrewBennet opened #52 "Truncated text on iOS 14"
## WhatsNewKit Environment

- WhatsNewKit version: 2.0.0
- Xcode version: 13.2.1
- Swift version: 5.5.2
- macOS version running Xcode: 12.1
- Dependency manager (SPM, Manually): SPM

## What did you do?

Presented a WhatsNewKit view controller on a iOS 14 simulator

## What did you expect to happen?

The text to not be truncated.

## What happened instead?

The text was truncated. See attached scr

[2022-01-09 22:03] SvenTiigi commented on #52
PR https://github.com/SvenTiigi/WhatsNewKit/pull/53 has been merged

[2022-01-09 22:03] #52 closed

[2022-01-16 21:08] iosdeveloper opened #54 "WhatsNew.Text from NSAttributedString Availability Issue"
## WhatsNewKit Environment

- WhatsNewKit version: 2.1
- Xcode version: 13.2.1
- Swift version: 5
- macOS version running Xcode: 11.6.2
- Dependency manager (SPM, Manually): SPM

## What did you do?

Try to create an instance of `WhatsNew.Text` from a `NSAttributedString` with iOS deployment target `14.0`:

[code]

## What did you expect to happen?

No build error. `NSAttributedString` should be a

[2022-01-16 21:28] SvenTiigi commented on #54
Hi @iosdeveloper,

WhatsNewKit is currently using the [`Text.init(_ attributedContent: AttributedString)`](https://developer.apple.com/documentation/swiftui/text/init(_:)-1a4oh) initializer which is only available >= iOS 15.0

A fallback for < iOS 15.0 is currently not implemented when initializing a `WhatsNew.Text` instance with a `AttributedString` or `NSAttributedString`.

[2022-01-16 21:47] iosdeveloper commented on #54
Ah, that makes sense. I'm trying to use this from UIKit and have to be backwards compatible one major iOS version. I will just make it plain text only as a fallback then.

[2022-01-18 19:07] iosdeveloper commented on #54
@SvenTiigi  Unfortunately I'm seeing a crash when running my iOS app on Mac due to the `#available(iOS 15.0, *)` checks failing. The issue was acknowledged by an Apple engineer in the forums: https://developer.apple.com/forums/thread/691559?answerId=690192022#690192022
The solution is also mentioned there. Can we update the check in Text+WhatsNewText.swift accordingly?

[2022-01-18 19:14] SvenTiigi commented on #54
This problem should be fixed with Xcode 13.2

https://developer.apple.com/documentation/xcode-release-notes/xcode-13_2-release-notes

[code]

[2022-01-18 21:17] iosdeveloper commented on #54
That works, thanks. I found another issue for "iOS app on Mac". The Continue button doesn't dismiss the `WhatsNewViewController`. Manually calling `dismiss(animated:)` in `onDismiss` for the primary action works. Not necessarily your fault though, as it works on iOS.

[2022-01-18 21:17] #54 closed

[2022-05-16 16:10] DogandElk opened #56 "Cannot Add a package dependency"
## WhatsNewKit Environment

- WhatsNewKit version: 1.3.0
- Xcode version:13.3.1
- Swift version: SwiftUI 3
- macOS version running Xcode:
- Dependency manager (SPM, Manually):

## What did you do?

[2022-05-16 16:12] DogandElk commented on #56
I also attempted to navigate to the Xcode project then select Swift Packages, then clicked the “+” icon and searched for WhatsNewKit. But it could now be found.

[2022-05-16 17:55] SvenTiigi commented on #56
Hi @DogandElk,

Could you please provide a repo where the described issue can be reproduced?

I've tested on my side and wasn't able to reproduce the issue.

<img width="1082" alt="Bildschirmfoto 2022-05-16 um 19 53 47" src="https://user-images.githubusercontent.com/11733014/168653688-035a76fd-4f6f-43ee-b9e4-a2549808d911.png">

<img width="624" alt="Bildschirmfoto 2022-05-16 um 19 53 56" src="http

[2022-05-16 18:23] DogandElk commented on #56
Hi,
I copied the url from your Cocoapods site i.e https://github.com/SvenTiigi/WhatsNewKit.git <https://github.com/SvenTiigi/WhatsNewKit.git>", from: "1.3.0"

and pasted the url search box box but it doesn't find it, ugh

[2022-05-16 18:39] DogandElk commented on #56
I copied the url and pasted it into the searcb bar but it couldn'nt find it
Tom

Tom Glodek
***@***.***
623-258-2079

[2022-05-16 23:27] DogandElk commented on #56
I finally went to the git repo and copied that URL and I was able to add the package.
I then was able to get it to work after struggling with error after error to get it to work in SwiftUI 3 and Xcode 13.3.1.
I also see that you have case instead a =of a single sheet. Do you have example code for that ?

[2022-05-17 06:14] #56 closed

[2022-05-19 13:29] DogandElk opened #57 "Prevent the WhatsNew Screen from appearing more than once"
## WhatsNewKit Environment

- WhatsNewKit version: WhatsNewKit 2.0.2
- Xcode version:13.3.1
- Swift version: 5 with SwiftUI 3
- macOS version running Xcode: macOS Monterey Version 12.3.1
- Dependency manager (SPM, Manually): SPM

## What did you do?

## What did you expect to happen?

## What happened instead?

How do I get the whatsnew screen to appear only once, and not on subsequent restarts of

[2022-05-19 15:35] SvenTiigi commented on #57
Hi @DogandElk,

could you please provide more information about the `WhatsNewVersionStore` you are using?

Please make sure to use a persistent variant of the `WhatsNewVersionStore` when initializing the environment such as `UserDefaultsWhatsNewVersionStore`

[code]

[2022-05-23 11:47] SvenTiigi commented on #57
Closing due inactivity.
Please feel free to re-open the issue at any time.

[2022-05-23 11:47] #57 closed

[2022-05-23 11:59] DogandElk commented on #57
The version that you created for use in a storyboard and UIKIT life cycle is simple and it works just fine, but the version you have for use in swiftUI is so complicated and confusing that it's just not worth the effort to use. Plus you can't use it in a tabView otherwise it just pushes all the info on the screen to the bottom.   Please make a version that works or create a youtube video that show

[2022-05-23 12:32] DogandElk commented on #57
Perhaps  show how to add a UIViewController to your SwiftUI app

[2022-05-24 12:48] john-work-ios opened #58 "[iPad] Default primary action does not dismiss the WhatsNewViewController"
## WhatsNewKit Environment

- WhatsNewKit version: 2.0.2 **using UIKit**
- Xcode version: 13.3
- Swift version: 5+
- macOS version running Xcode: 12.4
- Dependency manager (SPM, Manually): SPM

## What did you do?

on iPad, the continue button (primary action) does not dismiss. Works fine on iPhone.

## What did you expect to happen?

The WhatsNewVC should dismiss

## What happened instead?

As a

[2022-08-30 18:00] SvenTiigi commented on #58
Hi @john-work-ios,

Sorry for the late reply.
I have successfully reproduced the bug and I'm currently investigating this issue.
I will let you know when a new version is available which fixes this problem ✌️

[2022-09-22 05:01] chbeer opened #61 "Idea: create a dummy for notification and haptic on macOS"
Notifications and haptics are not available on macOS. So code that uses them does not build on macOS. You can add conditions to fix this but it makes things more complicated.

Would creating dummies for these on macOS be a way to go? Then the same code would build also on macOS.

There could be a log message on macOS.

[2022-09-22 17:36] SvenTiigi commented on #61
Hi @chbeer,

As UIFeedbackGenerator alongside with its subclasses are unavailable on macOS the usage of `WhatsNew.HapticFeedback` should be surrounded with an OS-Availability check.

A fix for your PR https://github.com/SvenTiigi/WhatsNewKit/pull/60 could be the following one.

[code]

[2022-10-10 19:15] chbeer commented on #61
Fixed my PR with your suggestion

[2022-10-10 19:15] #61 closed

[2022-10-11 07:58] DogandElk commented on #57
Thanks for responding.  There seems to be so much conflicting and unclear information on Cocoapods and the reader files that it’s very confusing.   I am building an app in SwiftUI using Xcode 13.3.3 for IOS 15.   Don’t you have a YouTube video on how to implement your package and code it properly.  Otherwise it’s a mind numbing exercise in futility. I need directed information not an encyclopedia

[2022-11-03 02:11] aehlke commented on #58
any lead on this from your investigation if we'd like to support on a fix?